In [3]:
import pandas as pd

In [6]:
path = r"C:\wouter\2024-2025\Vakken\TIL Python programming\Github\TIL6020-LabAssignments\Testdata\kilometerdata.csv"

In [13]:
data = pd.read_csv(path, sep=';', on_bad_lines='warn')
display(data)

b'Skipping line 4: expected 1 fields, saw 2\nSkipping line 5: expected 1 fields, saw 20\nSkipping line 6: expected 1 fields, saw 20\nSkipping line 7: expected 1 fields, saw 20\nSkipping line 8: expected 1 fields, saw 20\nSkipping line 9: expected 1 fields, saw 20\nSkipping line 10: expected 1 fields, saw 20\nSkipping line 11: expected 1 fields, saw 20\nSkipping line 12: expected 1 fields, saw 20\nSkipping line 13: expected 1 fields, saw 20\nSkipping line 14: expected 1 fields, saw 20\nSkipping line 15: expected 1 fields, saw 20\n'

  Mobiliteit; per verplaatsing, verplaatsingskenmerken, vervoerwijzen, regio
0              Populatie: Populatie: 6 jaar of ouder
1                                     Marges: Waarde
2                                          Bron: CBS